/build/
/.gradle/
/.idea/
/snowflake-proto/build/
/snowflake-server/build/
/snowflake-client/build/
/.vscode/
/snowflake-loadtest/build/
/*.log
/*.pid
/local.env
/ci-cd/*.log
/bin/
/snowflake-proto/bin/
/snowflake-server/bin/
/snowflake-client/bin/
/snowflake-loadtest/bin/
/certs/
/infra/*.log
